---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Main page!">
    <main class="container mx-auto max-w-screen-md px-4">
        <ul>
            <li>
                <a href="https://github.com/JosephStocks/chatgpt-msg-limit-tracker">
                    Github Project: TamperMonkey userscript tracks GPT-4 usage
                </a>
            </li>
            <li>
                <a href="https://github.com/JosephStocks/python-birthday-reminders">
                    Github Project: Python script sends sms messages detailing upcoming birthdays
                </a>
            </li>
        </ul>
    </main>
</Layout>
