---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Joseph Stocks | Portfolio">
    <header class="container mx-auto max-w-screen-lg px-4">
        <!-- <img src="logo.png" alt="Website logo" /> -->
        <!-- <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav> -->
        <h1 class="text mt-32 font-display text-8xl text-vista-blue">Joseph Stocks</h1>
    </header>
    <main class="container mx-auto mt-12 max-w-screen-container px-4">
        <section>
            <h2 class="mt-8 font-outfit text-xl font-semibold uppercase">Experience</h2>
        </section>
        <section>
            <h2 class="mt-8 font-outfit text-xl font-semibold uppercase">Education</h2>
        </section>
        <section>
            <h2 class="mt-8 font-outfit text-xl font-semibold uppercase">Projects</h2>
            <ul class="mt-6">
                <li>
                    <a
                        class="font-inter"
                        href="https://github.com/JosephStocks/chatgpt-msg-limit-tracker"
                    >
                        Github Project: TamperMonkey userscript tracks GPT-4 usage
                    </a>
                </li>
                <li>
                    <a
                        class="font-inter"
                        href="https://github.com/JosephStocks/python-birthday-reminders"
                    >
                        Github Project: Python script sends sms messages detailing upcoming
                        birthdays
                    </a>
                </li>
            </ul>
        </section>
    </main>
</Layout>
